@media only screen and (min-width: 1024px) {

    header, nav, main, footer {
        max-width: 1024px;
        margin: 0 auto;
    }

    /* overide the margin of the footer in order to make space between the main and the footer*/
    footer {margin-top: 50px;}
    
    main .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .gallery figure:hover {box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.5);}
}
