body {
    margin: 0;
    padding: 0;
    height: 200vh;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

picture {margin: 50px;width: fit-content;}

picture img {
    width: 100%;
    height: auto;
}

picture:last-child {
    margin-bottom: 600px;
}

picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}
